/* Structure */
body {
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    background-color: white;
    border: 4px solid palevioletred;
}

h1, h2 {
    text-align: center;
}

#main-content {
    justify-content: center;
}

/* Larger Resolutions */
@media (min-width:900px){

    .flex-container {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

}