/* Structure */
body {
    background-color: #4169E1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:deepskyblue;
}

footer {
    text-align: center;
}

a {
    color:deepskyblue;
    text-decoration: none;
}

#main-header {
    text-align: center;
    background-color: snow;
    padding: 5px;
    margin: 30px;
    border: 5px solid deepskyblue;
}

.assignment {
    margin: 10px;
    padding: 40px 20px;
    background: whitesmoke;
    border-radius: 5px;
    border: 5px solid deepskyblue;
}

/* Images */
img {
    max-width:100%;
    background: lightcoral;
    display:block;
    margin: auto;
}

/* Navigation */

/* Typography */
h1, h2 {
    color:#4169E1;
    text-align: center;
}

/* Larger Resolutions */
@media only screen and (min-width: 900px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .assignment {
        flex: 20%;
    }
}