/* Structure */
body {
    background-color:#5C7AFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:deepskyblue;
}

#main-pg {
    background-color:snow;
    width: 75%;
    margin: auto;
    padding: 0px 100px;
    border-radius: 5px;
}

a {
    color:deepskyblue;
    text-decoration: none;
}

/* Navigation */

/* Typography */
h1, h2 {
    color:#4169E1;
}

